<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yogi Nova</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body style="background-color: #96c893">
<div class="flex justify-between items-center px-8 py-4">
    {% if current_user.is_authenticated %}
    <a href="{{url_for('home')}}" class="text-2xl font-bold text-green-800">Yogi <span
            class="text-green-100">Nova</span></a>
    <nav class="flex space-x-6">
        <a href="{{url_for('home')}}" class="text-gray-800 hover:underline">Home</a>
        <a href="#" class="text-gray-800 hover:underline">About us</a>
        <a href="#" class="text-gray-800 hover:underline">Gallery</a>
        <a href="#" class="text-gray-800 hover:underline">Contact us</a>
        <a href="{{url_for('logout')}}" class="text-gray-800 hover:underline">Logout</a>
    </nav>
    {% else %}
    <a href="{{url_for('index')}}" class="text-2xl font-bold text-green-800">Yogi <span
            class="text-green-100">Nova</span></a>
    <nav class="flex space-x-6">
        <a href="{{ url_for('login') }}" class="text-gray-800 hover:underline">Login</a>
        <a href="{{ url_for('signup') }}" class="text-gray-800 hover:underline">Register</a>
    </nav>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>